/*Normalise CSS across browsers*/
*{margin: 0; padding: 0; border: 0; outline: 0;}

html, body {
    height: 100%;
    width: 100%;
    background: black;
    overflow: hidden;
}

#particle-container {
    position: relative;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    transform-style: preserve-3d;
    animation: rotateOrb 10s infinite linear;
}

@keyframes rotateOrb {
    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.particle {
    position: absolute;
    width: 2.5px;
    height: 2.5px;
    border-radius: 50%;
    background-color: #D72A28;
    transition: transform 5s linear, opacity 5s ease-in-out;
}